:root {
	--bg-color: #dde5f0;
	--bg-color-alt: #edf0f2;
	--text-color: #000;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    padding: 0;
    margin: 0;
}

body {
    background: #dde6f0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    padding: 1rem 29rem 0rem 1rem;
    color: #000;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    padding: 0 0rem 0rem 0;
    color: #000;
}

hr {
    margin: 1rem 1rem 1.5rem;
    background: #fff;
}

.grid-container {
	grid-template-columns: auto auto auto;
	padding: 1rem;
	display: grid;
	gap: 1rem;
	text-align: center;
}

.grid-item {
	background-color: #edf0f2;
	border: 2px solid #00000010;
	border-radius: 4px;
	padding: 0px;
	font-size: 30px;
	text-align: center;
	align-content: center;
}

/* Progress bar */
.circular {
	height: 100px;
	width: 100px;
	position: relative;
	border: solid blue 1px;
}

.circular .inner {
	position: absolute;
	z-index: 6;
	top: 50%;
	left: 50%;
	height: 80px;
	width: 80px;
	margin: -40px 0 0 -40px;
	background: var(--bg-color);
	border-radius: 100%;
}

.circular .number {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index:10;
	font-size: 18px;
	font-weight: 500:
	color: #fff;
}

.circular .bar {
	position: absolute;
	height: 100%;
	width: 100%;
	background: #fff;
	-webkit-border-radius: 100%;
	clip: rect(0px, 100px, 100px, 50px);
}

.circular .bar .progress {
	position: absolute;
	height: 100%;
	width: 100%;
	-webkit-border-radius: 100%;
	clip: rect(0px, 50px, 100px, 0px);
	background: #4158d0;
}

.circle .left .progress {
	z-index: 1;
	animation: left 1s ease-in both;
}

@keyframes left {
	100% {
		transform: rotate(180deg);
	}
}

.circle .right {
	transform:rotate(180deg);
	z-index: 3;
}

.circle .right .progress {
	animation: right 1s ease-out both;
	animation-delay: 1s;
}

@keyframes right {
	100% {
		transform: rotate(180deg);
	}
}
