<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8"/>

<head>
	<title>Dashboard</title>
	<link rel="stylesheet" href="/static/css/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
	<link rel="icon" type="image/png" href="https://tnk-rin.github.io/media/icon.png">
	<script src="/static/js/scripts.js"></script>
</head>

<body>
	<h1>
		{{ .title }}
	</h1>

	<hr>
	
	<h1>/dev/sda</h1>
	<div class="grid-container">
		<div class="grid-item">
			<h2>Temperature: {{ .sdaTemp }}°C</h2>
		</div>
		
		<div class="grid-item">
			<div class="circular">
				<div class="inner"></div>
				<div class="number">100%</div>
				<div class="circle">
					<div class="bar left">
						<div class="progress"></div>
					</div>
					<div class="bar right">
						<div class="progress"></div>
					</div>
				</div>
			</div>
			<h2>Usage: {{ .sdaUsed }}TB / {{ .sdaTotal }}TB</h2>
		</div>
	</div>

	<h1>/dev/sdb</h1>
	<div class="grid-container">
		<div class="grid-item">
			<h2>Temperature: {{ .sdbTemp }}°C</h2>
		</div>
	
		<div class="grid-item">
			<div class="circular">
				<div class="inner"></div>
				<div class="number">75%</div>
				<div class="circle">
					<div class="bar left">
						<div class="progress"></div>
					</div>
					<div class="bar right">
						<div class="progress"></div>
					</div>
				</div>
			</div>
			<h2>Usage: {{ .sdbUsed }}TB / {{ .sdbTotal }} TB</h2>
		</div>
	</div>
	
	<h1>/dev/sdc</h1>
	<div class="grid-container">
		<div class="grid-item">
			<h2>Temperature: {{ .sdcTemp }}°C</h2>
		</div>

		<div class="grid-item">
			<div class="circular">
				<div class="inner"></div>
				<div class="number">100%</div>
				<div class="circle">
					<div class="bar left">
						<div class="progress"></div>
					</div>
					<div class="bar right">
						<div class="progress"></div>
					</div>
				</div>
			</div>
				<h2>Usage: {{ .sdcUsed }}TB / {{ .sdcTotal }} TB</h2>
		</div>
	</div>
</body>
</html>
