<html lang="en">
<meta charset="utf-8"/>

<head>
	<title>Dashboard</title>
	<link rel="stylesheet" href="/static/css/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
	<link rel="icon" type="image/png" href="https://tnk-rin.github.io/media/icon.png">
</head>

<body>
	<h1>
		{{ .title }}
	</h1>
	<hr>
	<div class="grid-container">
		<div class="grid-item">
			<h2>sdaTemp: {{ .sdaTemp }}°C</h2>
		</div>

		<div class="grid-item">
			<h2>sdbTemp: {{ .sdbTemp }}°C</h2>
		</div>

		<div class="grid-item">
			<h2>sdcTemp: {{ .sdcTemp }}°C</h2>
		</div>
	</div>
</body>
</html>
