<html lang="en">
<meta charset="utf-8"/>

<head>
	<style>
		* {
			font-family: 'Montserrat', sans-serif;
			font-size: 62.5%;
			padding: 0;
			margin: 0;
		}

		body {
			background: #102027;
		}

		h1 {
			font-family: 'Montserrat', sans-serif;
			font-weight: 300;
			font-size: 1.7rem;
			padding: 0 29rem 1 rem 0;
			color: #fff;
		}

	</style>
	
	<title>Dashboard</title>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
	<link rel="icon" type="image/png" href="https://tnk-rin.github.io/media/icon.png">
	</head>

	<h1>
		{{ .title }}
	</h1>

</html>
